name: Twilio - Publish Plugin
on:
  workflow_call:
    inputs:
      node-version:
        description: 'The node version to run using'
        default: '14'
        required: false
        type: string
      environment-prefix:
        description: 'The prefix for this environment'
        required: true
        type: string
      plugin-name:
        description: 'The plugin name'
        required: true
        type: string
    secrets:
      ACCOUNT_SID:
        description: 'The Twilio account ID'
        required: true
      API_KEY:
        description: 'The Twilio API key'
        required: true
      API_SECRET:
        description: 'The Twilio API secret'
        required: true

jobs:
  publish-plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Install Twilio
        run: npm install twilio-cli -g && twilio plugins:install @twilio-labs/plugin-flex

      - name: NPM dependencies
        run: npm ci

      - name: Deploy plugin
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          VERSION=$(echo "$VERSION" | sed -e 's/^${{ inputs.environment-prefix }}//')
          twilio flex:plugins:deploy --changelog="SHA ${{ github.sha }}" --version=$VERSION
          twilio flex:plugins:release --plugin ${{ inputs.plugin-name }}@$VERSION --name "${{ inputs.plugin-name }} $VERSION" --description "Autogenerated Release ${{ inputs.plugin-name }} ${{ github.ref }} -> $VERSION"
        env:
          TWILIO_ACCOUNT_SID: ${{ secrets.ACCOUNT_SID }}
          TWILIO_API_KEY: ${{ secrets.API_KEY }}
          TWILIO_API_SECRET: ${{ secrets.API_SECRET }}
